# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception

/.cache
/compile_commands.json
/cmake/presets/
/cmake/CMakeUserPresets.json
/CMakeUserPresets.json
/GNUmakefile
/build
/src

# ignore emacs temp files
*~
\#*\#

# ignore vscode settings
.vscode
