# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception

name: Continuous Integration Tests

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  preset-test:
    uses: ./.github/workflows/reusable-beman-preset-test.yml
    with:
      matrix_config: >
        [
          {"preset": "gcc-debug", "platform": "ubuntu-latest"},
          {"preset": "gcc-release", "platform": "ubuntu-latest"},
          {"preset": "llvm-debug", "platform": "ubuntu-latest"},
          {"preset": "llvm-release", "platform": "ubuntu-latest"},
          {"preset": "appleclang-debug", "platform": "ubuntu-latest"},
          {"preset": "appleclang-release", "platform": "ubuntu-latest"},
          {"preset": "msvc-debug", "platform": "windows-latest"},
          {"preset": "msvc-release", "platform": "windows-latest"}
        ]
